---
layout: null
---

body {
  font-family: "Raleway";
}

.intro-header .page-heading {
  font-weight: bolder !important;
}

.intro-header .page-heading .page-subheading {
  font-size: 1.25rem !important;
  font-weight: bolder !important;
}

footer .copyright,
footer .footer-custom-content,
h1, h2, h3, h4, h5, h6,
.blog-tags,
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading,
.intro-header.big-img .img-desc,
.navbar-custom,
.pagination .page-item .page-link,
.post-preview a,
.post-preview .post-meta,
.post-heading .port-meta,
#full-tags-list {
  font-family: inherit;
}

a {
  font-weight: bold;
}

footer {
  color: {{ site.footer-text-col | default: "#777" }};
}

.belltownpizza-bullet-left {
  background-image: url(/assets/img/btp-lightning-left.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 75%;
}

.belltownpizza-bullet-right {
  background-image: url(/assets/img/btp-lightning-right.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 75%;
}

.belltownpizza-logo {
  background-image: url(/assets/img/btp-logo.png);
  background-repeat: no-repeat;
}

.belltownpizza-logo-style-soul {
  background-image: url(/assets/img/btp-logo-style-soul.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 87.5%;
  height: 625px;
}
